<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Covid-calculator</title>
   <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="form">
      <form action="/submit" method="post">
		  <div class="title">Covid-19 Risk Calculator</div>
		  <div class="input-container ic2">
			<input name="fever" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="fever" class="placeholder">Enter your temperature in a scale of 96F to 104F. eg: 97</label>
		  </div>
		  <div class="input-container ic2">
			<input name="cough" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="cough" class="placeholder">Enter your cough level in a scale of 0 to 5. Where 1 indicates no cough, 5 indicates severe cough</label>
		  </div>
		  <div class="input-container ic2">
			<input name="respiratory" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="respiratory" class="placeholder">Enter your respiratory distress level in a scale of 0 to 5. Where 1 indicates no distress, 5 indicates severe distress</label>
		  </div>
			  <div class="input-container ic2">
			<input name="tasteless" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="tasteless" class="placeholder">Enter your tasteless level in a scale of 0 to 1. Where 0 indicates no tastelessness, 1 indicates tastelessness</label>
		  </div>
		  <div class="input-container ic2">
			<input name="fatigue" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="fatigue" class="placeholder">Enter your fatigue level in a scale of 0 to 1. Where 0 indicates no fatigue, 1 indicates fatigue</label>
		  </div>
		  <div class="input-container ic2">
			<input name="headache" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="headache" class="placeholder">Enter your headache level in a scale of 0 to 1. Where 0 indicates no headache, 1 indicates headache</label>
		  </div>
		  <div class="input-container ic2">
			<input name="bodypain" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="bodypain" class="placeholder">Enter your bodypain level in a scale of 0 to 1. Where 0 indicates no bodypain, 1 indicates bodypain</label>
		  </div>
		  <div class="input-container ic2">
			<input name="smell" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="smell" class="placeholder">Enter your Loss of smell level in a scale of 0 to 1. Where 0 indicates no loss of smell, 1 indicates  loss of smell</label>
		  </div>
		  <div class="input-container ic2">
			<input name="diarrhoea" class="input" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="diarrhoea" class="placeholder">Enter your diarrhoea level in a scale of 0 to 1. Where 0 indicates no diarrhoea, 1 indicates  diarrhoea</label>
		  </div>
		  <button class="submit" type="submit" >Submit</button>
	  </form>
	  

  </div>
 
  <div class="result_txt">
       <div class="title1">Your Result</div>
       <div class="subtitle">{{ prediction_text }}</div>
       <div class="title2">Most Recent Results</div>
	   {% block content %}
	  <table>
	  <tr>
		<th>Date</th>
		<th>Result</th>
	  </tr>
	  {% for row in range(userResult|length) %}
        <tr>
          <td>{{ userResult.loc[row, "test_date"] }}</td>
          <td>{{ userResult.loc[row, "result_txt"] }}</td>
        </tr>
      {% endfor %}
	  </table> 
	  {% endblock %}
	  <div class="subtitle">{{ message_cnt }}</div>
	  <form action="/logout" method="get">
	  <button class="submit1" type="submit" >Logout</button>
	  </form>
	   
  </div>

<!-- partial -->
  
</body>
</html>
